@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.before\:icon-primary::before {
    background-size: 100% 100%;
    z-index: -1;
    @apply bg-icon-primary bg-no-repeat before:content-[''] absolute;
}

.swiper-mobile {
    @apply overflow-visible md:hidden !important;
}

.swiper-tablet {
    @apply overflow-hidden hidden md:flex !important;
}

.swiper-custom {
    @apply overflow-visible md:overflow-hidden !important;
}

.swiper-pagination-bullet {
    @apply p-1 m-1 bg-white rounded-full ease-in-out duration-300;
}

.swiper-pagination-bullet-active {
    @apply px-4;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

input {
    @apply ring-0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    transition: background-color 5000s ease-in-out 0s;
    outline: none;
}

.multi-column {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -moz-column-fill: auto;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -webkit-column-fill: auto;
    column-count: 2;
    column-gap: 20px;
    column-fill: auto;
 }

@layer base {
    html {
        font-size: 16px;
    }
    * {
        @apply scroll-smooth leading-tight;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-poppins font-bold;
        @apply leading-normal md:leading-tight;
    }
    h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
        font-family: inherit;
        font-size: inherit;
        @apply text-inherit;
    }
}

.font-work-sans {
    font-family: Work Sans, sans-serif;
}
