@tailwind base;
@tailwind components;
@tailwind utilities;

.before\:icon-primary::before {
    background-size: 100% 100%;
    z-index: -1;
    @apply bg-icon-primary bg-no-repeat before:content-[''] absolute;
}

.hover\:sweep-right {
    @apply relative overflow-hidden;
}

.hover\:sweep-right::before, .hover\:sweep-right::after {
    @apply leading-['100%'] duration-300 xl:p-0.5 flex items-center justify-center absolute top-0 left-0 h-full;
}

.hover\:sweep-right::before {
    display: inline-block;
    margin-left: -160%;
    width: 160%;
    @apply bg-sweep-primary;
}

.hover\:sweep-right::after {
    @apply w-full;
}

.hover\:sweep-right:hover::before {
    margin-left: -30%;
}

.hover\:sweep-right:hover::after {
    margin-left: 100%;
}

@layer base {
    html {
        font-size: 16px;
    }
    * {
        @apply scroll-smooth font-sans text-dark text-14 md:text-8 lg:text-12 xl:text-14 3xl:text-20 leading-tight;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-poppins font-bold;
    }
    h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
        font-family: inherit;
        font-size: inherit;
        @apply text-inherit;
    }
}

